.profile__edit-button {
  background:transparent url("../../../images/Edit Button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  background-position: center;
  width: 24px;
  height: 24px;
}
